body{
    text-align: center ;
    background-color: darkolivegreen;


}

h1{
    
  
    font-size: 100px;
    color: blueviolet;
    font: optional;
    
}
h2{
    font-size: 50px;
}
div{
    font-size: 20px;


}