*{
    margin: 0;
    padding: 0;
}

body { 

    background-color:  #2a7d09;
    font-size: 30px; 
    -webkit-text-fill-color: rgb(248, 246, 246);

}

header { 

   background-color: rgb(243, 246, 249);
   height: 70px;
   text-align: center;
   -webkit-text-fill-color: black;
   font: large;
  

}


p{
    
  
    font-size: 30px;
    text-align: center;
    font: optional;
}  

h2{
    
    text-align: center;
    font: optional;
}  

p{
    
  
    font-size: 30px;
    text-align: center;
    font: optional;

}

div{
    font-size: 20px;
       font: optional;

}

.v1{

 background-color:  #2a7d09;
  
}

.v2{

    background-color:  #2a7d09;
   
}
.vcor{

    background-color: #8b4513;
   
}

ul{
    display: inline-block;
    vertical-align:table-row-growp;
    width: 30%;
    margin-right: 20%;
    font-size: 30px;
}
